In [1]:
roll_no=36
#display roll no
print("Roll No is:", roll_no) # 36
print(type(roll_no))  # class 'int'

# create integer using int() class
id= int(29)
print(id)  # 29
print(type(id))

Roll No is: 36
<class 'int'>
29
<class 'int'>

In [2]:
#data types
x=2.2222
y=22
print(type(x))
print(type(y))

<class 'float'>
<class 'int'>

In [3]:
complex(1)

(1+0j)

In [4]:
complex(1,-4)

(1-4j)

In [6]:
x=4   #int
y=3.5  #float
z=2j   #complex

#convert from int to float:
a=float(x)

#convert from float t int:
b=int(y)

#convert from int t complex:
c=complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

4.0
3
(4+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [7]:
i=30
print("in binary form::", bin(i))
print("in octal form::", oct(i))
print("in hexadecimal form::", hex(i))

in binary form:: 0b11110
in octal form:: 0o36
in hexadecimal form:: 0x1e

In [8]:
x=33
y=2.25

#data in int and float
print(type(x))
print(type(y))

#addition
z=x+y

#type after addition
print(type(z))

<class 'int'>
<class 'float'>
<class 'float'>

In [10]:
int(55.125)

55

In [11]:
int("25")

25

In [13]:
#concatenating int and str types
a=75
b="Mango"
print(b+str(a))

Mango75

In [15]:
import random

# prints a random value from the list
list1=[1,2,3,4,5,6,7,8,9]
print(random.choice(list1))

7

In [18]:
print("A random number from range is : ", end="")
print(random.choice([3,6,9,12]))

A random number from range is : 6

In [25]:
print("A random number from range is : ", end="")
print(random.randrange(3,6,9))

A random number from range is : 3