In [3]:
str1='Hello I am Hrishikesh Shelar'
print(str1)

Hello I am Hrishikesh Shelar

In [4]:
len(str1)

28

In [5]:
str2="My favourite sport is cricket"
print(str2)

My favourite sport is cricket

In [6]:
#Multi line strings must be embed in triple quotes, as shown below.

str3='''This is 
the first
multi-line string.'''
print(str3)

This is
the first
multi-line string.

In [7]:
str4="""This is
the another 
Multi-line  
string."""
print(str4)

This is
the another
Multi-line
string.

In [9]:
str1='I have "two pairs" of shoes.'
print(str1)

I have "two pairs" of shoes.

In [10]:
str2="Tiger is a 'Carnivorous' animal."
print(str2)

Tiger is a 'Carnivorous' animal.

In [12]:
greet='Hello'
len(greet)

5

In [19]:
#positive indexing
hi='hello'
hi[4]

'o'

In [20]:
#negative indexing
A='Hello'
A[-3]

'l'

In [21]:
HBS='hello'
type(HBS)

str

In [17]:
str3="My favourite sport is cricket"
str3[-15]

'p'

In [18]:
a='Hello'
a[1:5]

'ello'

In [23]:
str3[0:12]

'My favourite'

In [25]:
str3[13:18]

'sport'

In [26]:
str3[-1:1]

''

In [28]:
str3[1:-1]

'y favourite sport is cricke'

In [29]:
str3[0:11:2]

'M aort'

In [31]:
str6='I have "two pairs" of shoes.'
len(str6)

28

In [32]:
str6[-1]

'.'

In [34]:
str6[-2:-16:-2]

'sosf si'

In [35]:
#String function: lower()
a="My Name is Hrishikesh"
a.lower()

'my name is hrishikesh'

In [36]:
##String function: upper()
a.upper()

'MY NAME IS HRISHIKESH'

In [38]:
#String function: title()
c="MY NAME IS HRISHIKESH"
c.title()

'My Name Is Hrishikesh'

In [40]:
#String function: capitalize()
c.capitalize()

'My name is hrishikesh'